:root {
    --cyan-dark: hsl(185, 75%, 39%);
    --blue-dark-desaturated: hsl(229, 23%, 23%);
    --blue-dark-grayish: hsl(227, 10%, 46%);
    --gray-dark: hsl(0, 0%, 59%);
}

html, body, main {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-color: var(--cyan-dark) !important;
    background: no-repeat bottom 50vh right 25vw url("../images/bg-pattern-top.svg"), no-repeat top 50vh left 25vw url("../images/bg-pattern-bottom.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stacked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    min-width: 300px;
    max-width: 360px;
    min-height: 400px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

.age {
    margin: 0.5em;
    font-size: 18px;
}

.bold, .count {
    font-weight: 700;
    font-size: 18px
}

.light {
    font-weight: 400;
    color: var(--gray-dark);
}

.meta {
    font-size: 14px;
    margin: 0.5em 0;
}

.metric {
    letter-spacing: 0.25em;
    font-size: 10px;
}

.top, .bottom {
    min-height: 200px;
}

.top {
    background: no-repeat url("../images/bg-pattern-card.svg");
    display: flex;
    justify-content: center;
}

.top img {
    position: relative;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    bottom: -5.5em;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info, .metrics {
    min-height: 100px;
    height: 50%;
    display: flex;
    align-items: center;
}

.info {
    flex-direction: column;
    justify-content: center;
}

.metrics {
    width: 100%;
    justify-content: space-around;
    border-top: 1px solid lightgray;
    padding-top: 1em;
}

footer {
    position: absolute;
    bottom: 1em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px ) {
    body {
        background: no-repeat bottom 50vh right 50vw / 75% url("../images/bg-pattern-top.svg"), no-repeat top 50vh left 50vw / 75% url("../images/bg-pattern-bottom.svg");
    }
}

@media screen and (min-width: 1900px ) {
    body {
        background: no-repeat bottom 50vh right 50vw / 75% url("../images/bg-pattern-top.svg"), no-repeat top 50vh left 50vw / 75% url("../images/bg-pattern-bottom.svg");
    }
}